.thumbnail {
  width: 300px;
  display: block;
  }

.search-bar {
  display: block;
  }

/* .video-title {
  width: 300px;
} */

.video-preview {
  width: 300px;
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
  }

.channel-picture {
  display: inline-block;
  width: 50px;
}

.video-info {
  display: inline-block;
  width: 200px;
}

.profile-pic {
  width: 100%;
}